/* unvisited link */
a:link {
  color: #c2c2c2;
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* visited link */
a:visited {
  color: #888888;
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* mouse over link */
a:hover {
 color: #606060;
 text-decoration: underline;
}

/* selected link */
a:active {
 color: gray;
}


body {
  color: #f2f2f2;
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/kurale-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/kurale-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/kurale-v11-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('fonts/kurale-v11-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('fonts/kurale-v11-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('fonts/kurale-v11-latin-regular.svg#Kurale') format('svg'); /* Legacy iOS */
}
