/* unvisited link */
a:link {
  color: #c2c2c2;
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* visited link */
a:visited {
  color: #999999;
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* mouse over link */
a:hover {
 color: #606060;
 text-decoration: underline;
}

/* selected link */
a:active {
 color: gray;
}


/* kurale-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/kurale-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/kurale-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/kurale-v11-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/kurale-v11-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/kurale-v11-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/kurale-v11-latin-regular.svg#Kurale') format('svg'); /* Legacy iOS */
}


/* eb-garamond-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/eb-garamond-v27-latin-500.eot'); /* IE9 Compat Modes */
  src: url('/fonts/eb-garamond-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/eb-garamond-v27-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/eb-garamond-v27-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/eb-garamond-v27-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/eb-garamond-v27-latin-500.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

/* eb-garamond-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/eb-garamond-v27-latin-500italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/eb-garamond-v27-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/eb-garamond-v27-latin-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/eb-garamond-v27-latin-500italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/eb-garamond-v27-latin-500italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/eb-garamond-v27-latin-500italic.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

.site-header {
  border-top: none;
  border-bottom: 1px solid $border-color-01;
}

body {
  color: #ffffff;
  font-family: EB Garamond;
  font-size: 20px;
  letter-spacing: 0.1px;
  background-color: #000000;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
}
